#notice {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 10px;
  height: 30px;

  p {
    font-size: 12px;
    margin: 0;
  }
}
