body, html {
  height: 100%;
}

header {
  padding: 5px;
  color: white;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;

  h2 {
    font-family: 'Henny Penny', cursive;
    margin: 0;
  }
}

table {
  font-size: 12px;

  button {
    font-size: 12px !important;
  }
}

.modal {
  margin-top: 65px;
  background: transparent !important;
  z-index: 9998 !important;
  height: 90%;

  .dlg {
    min-width: 90%;
    height: 100%;
    background: rgba(53, 47, 47, 0.6) !important;

    .closeIc {
      z-index: 9999;
    }
    .ctnr {
      height: 100%;

      .modal-title {
        text-align: center;
      }

      .content {
        margin: 0.5rem !important;
        text-align: left;
        max-height: 100%;
        overflow-y: scroll;
        &.last-child {
          margin-bottom: 16px;
        }

        .card-header {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
