<div>
  <h5>デッキ登録</h5>
  <hr>
  <form>
    <div class="form-group">
      <label>・デッキ名</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="newDeck.name">
    </div>
    <div class="checkbox form-group">
      <label>・カラー</label>
      <br>
      <input type="checkbox" name="green" [checked]="newDeck.color.green" (change)="onChangeColor($event)"> 緑
      <input type="checkbox" name="red" [checked]="newDeck.color.red" (change)="onChangeColor($event)"> 赤
      <input type="checkbox" name="black" [checked]="newDeck.color.black" (change)="onChangeColor($event)"> 黒
      <input type="checkbox" name="blue" [checked]="newDeck.color.blue" (change)="onChangeColor($event)"> 青
      <input type="checkbox" name="white" [checked]="newDeck.color.white" (change)="onChangeColor($event)"> 白
    </div>
    <div class="checkbox form-group">
      <label>・マイデッキ設定</label>
      <br>
      <input type="checkbox" name="isMyDeck" [checked]="newDeck.isMyDeck" (change)="onChangeIsMydeck($event)">
      <small>設定を行うと戦績登録が可能となります。</small>
    </div>
    <button type="button" class="btn btn-success btn-block" (click)="onClickSubmit()">登録</button>
    <button type="button" class="btn btn-primary btn-block" [routerLink]="['']">戻る</button>
  </form>
</div>
